<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqkmall.user.mapper.UmsMemberReceiveAddressMapper">

    <select id="getReceiveAddressByMemberId" parameterType="java.lang.String" resultType="com.mqkmall.user.bean.UmsMemberReceiveAddress">
        select t.* from ums_member_receive_address t where member_id = #{memberId}
    </select>

</mapper>